---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

# LiuInnovation2025
- [Family-based community organization in Neolithic Northern China from 8,800 to 7,500 years ago](https://www.sciencedirect.com/science/article/pii/S2666675825003911)  
  Nov. 2025  
  Liu, T., Zhao, Z., Guo, M., … **Zhao, M.**, … Fu Q.<sup>*</sup>  
  *The Innovation*, Article 101188.


